body{
		background-color: lightgrey;
	}

	nav {
		background-color: black;
	}
  
  img {
    height: 50px;
  }

	#templateDiv {
		border: red solid 2px;
		margin: auto;
		text-align: center;
		height: 350px;
		width: 600px;
		font-size: 30px;
	}

.ticket{
	border: 0;
	color: blue;
	display: always;
	font-size: 14px;
	padding: 0 20px 0 0;
	width: auto;
}

.submitticket {
  position: absolute;
  right: 0;
  top: 30px;
}

h2{
  text-align: center;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#feedform{
 display:block; 
 text-align: center;
  font-size:16pt;
}

#form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#commentbox{
  width:300px;
  height:200px;
  margin:0 auto;
}

label{
  text-align:center;
}

.inputbox{
  /*text-align:center;*/
  width:300px;
}

#submit{
  text-align:center;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: orange;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
